apiVersion: apps/v1
kind: Deployment
metadata:
  name: mv-replicaset
spec:
  replicas: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      cicd: jenkins
  template:
    metadata:
      labels:
        cicd: jenkins
    spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins:lts
        ports:
        - containerPort: 8080